<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Frandy Home</title>
</head>
<body>
    <h3>Home page</h3>
    <form action="/calculate" method="POST">
        number <input type="text" name="max" />
        <button>calculate</button>
    </form>
    <hr/>
    <form action="/show">
        name <input type="text" name="n" />
        <button>submit</button>
    </form>
    <hr/>
    <a href="/page">go to google</a>
    <br/>
    <img src="/library/pepe.png" />
</body>
</html>